People-MVVM-master/People-MVVM-master/app/build/intermediates/data_binding_dependency_artifacts/debug/dataBindingMergeDependencyArtifactsDebug/out/com.android.databinding.library.baseAdapters-com.android.databinding.library.baseAdapters-setter_store.bin
People-MVVM-master/People-MVVM-master/app/build/intermediates/data_binding_dependency_artifacts/debug/dataBindingMergeDependencyArtifactsDebug/out/com.android.databinding.library.baseAdapters-com.android.databinding.library.baseAdapters-br.bin
